.pagination {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  @include pad {
    margin-top: 65px;
  }
  @include mobile {
    margin-top: 40px;
  }
  a {
    display: block;
    color: $dark;
    font-size: 18px;
    padding: 12px 16px;
    border: 1px solid #555555;
    margin-left: -0.7px;
    @include mobile {
      font-size: 16px;
      padding: 12px 15px;
    }
    &:hover {
      color: $white;
      background: $dark;
    }
    &.active {
      color: $white;
      background: $dark;
    }
  }
  .buttonS {
    padding: 11px 12px;
  }
}
.sunglasses .pagination {
  display: none;
  @include mobile {
    display: flex;
  }
}
//blog區域menu
.navbar {
  background: $primary;
  padding: 6px 0 6px 0;
  @include pad {
    padding: 7px 0 7px 0;
  }
  @include mobile {
    padding: 16px 0 16px 0;
  }
  li {
    margin-right: 48px;
    @include pad {
      margin-right: 32px;
    }
    @include mobile {
      margin-right: 24px;
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }
    a {
      color: $white;
      font-size: 20px;
      &:hover {
        text-decoration: underline;
      }
      @include pad {
        font-size: 16px;
      }
    }
  }
  .search {
    background: none;
    border: none;
    color: $white;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    .icon {
      display: block;
      font-size: 40px;
    }
    @include mobile {
      display: none;
    }
  }
}