@charset "UTF-8";
/*顏色設定*/
/*字體設定*/
/*font-size設定*/
/*margin、padding設定*/
/*補加*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none; }

h1 {
  font-size: 4rem; }

.h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

.h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

.h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

.h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

.h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

.h6 {
  font-size: 1rem; }

/*margin、padding設定*/
.mr-1 {
  margin-right: 8px; }

.mb-1 {
  margin-bottom: 8px; }

.mr-2 {
  margin-right: 16px; }

.mb-2 {
  margin-bottom: 16px; }

.mr-3 {
  margin-right: 20px; }

.mb-3 {
  margin-bottom: 20px; }

.mr-4 {
  margin-right: 30px; }

.mb-4 {
  margin-bottom: 30px; }

.mr-5 {
  margin-right: 32px; }

.mb-5 {
  margin-bottom: 32px; }

.mr-6 {
  margin-right: 40px; }

.mb-6 {
  margin-bottom: 40px; }

.mr-7 {
  margin-right: 48px; }

.mb-7 {
  margin-bottom: 48px; }

.mr-8 {
  margin-right: 64px; }

.mb-8 {
  margin-bottom: 64px; }

.mr-9 {
  margin-right: 80px; }

.mb-9 {
  margin-bottom: 80px; }

.mr-10 {
  margin-right: 88px; }

.mb-10 {
  margin-bottom: 88px; }

.px-1 {
  padding-left: 15px;
  padding-right: 15px; }

/*display*/
.d-block {
  display: block; }

/*flex 設定*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.jc-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.ai-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.ai-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ai-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

/*文字、背景顏色設定*/
.text-primary {
  color: #650300; }

.bg-primary {
  background: #650300; }

.text-dark {
  color: #000; }

.bg-dark {
  background: #000; }

.text-gray-700 {
  color: #555555; }

.bg-gray-700 {
  background: #555555; }

.text-gray-800 {
  color: #212529; }

.bg-gray-800 {
  background: #212529; }

.text-gray-900 {
  color: #0a0a0a; }

.bg-gray-900 {
  background: #0a0a0a; }

.text-red-100 {
  color: #AA06010D; }

.bg-red-100 {
  background: #AA06010D; }

.text-red-700 {
  color: #aa0601; }

.bg-red-700 {
  background: #aa0601; }

.text-red-800 {
  color: #9f1213; }

.bg-red-800 {
  background: #9f1213; }

.text-white {
  color: #fff; }

.bg-white {
  background: #fff; }

/*文字設定*/
.fw-regular {
  font-weight: 400; }

.fw-medium {
  font-weight: 500; }

.fw-bold {
  font-weight: 700; }

.fw-black {
  font-weight: 900; }

.text-start {
  text-align: left; }

.text-center {
  text-align: center; }

.text-end {
  text-align: right; }

.fst-italic {
  font-style: italic; }

/*寬高度100%*/
.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

/*斷點設定*/
.header {
  padding: 30px 88px 29.43px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #aa0601;
  height: 108px; }
  @media (max-width: 991px) {
    .header {
      height: auto;
      padding: 30px 39px; } }
  @media (max-width: 767px) {
    .header {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0; } }
  .header h1 > a {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png);
    background-size: cover;
    width: 80px;
    height: 48.57px; }
    .header h1 > a:hover {
      opacity: 0.8; }
    @media (max-width: 767px) {
      .header h1 > a {
        width: 48px;
        height: 29.14px;
        margin: 10px 0; } }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .header .menu {
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .header .menu li {
      margin-left: 64px; }
      .header .menu li:nth-child(1) {
        margin-left: 0; }
      @media (max-width: 991px) {
        .header .menu li {
          margin-left: 40px; } }
      @media (max-width: 767px) {
        .header .menu li {
          width: 50%;
          margin-left: 0;
          text-align: center; } }
    .header .menu a {
      display: block;
      color: #fff;
      font-size: 1.25rem;
      border-bottom: 5px solid transparent; }
      .header .menu a:hover {
        font-weight: 700;
        border-bottom: 5px solid #fff; }
        @media (max-width: 767px) {
          .header .menu a:hover {
            border: 1px solid #fff;
            color: #aa0601;
            background: #fff; } }
      @media (max-width: 767px) {
        .header .menu a {
          border-bottom: none;
          padding: 8px 0;
          border: 1px solid #fff; } }
      .header .menu a.active {
        font-weight: 700;
        border-bottom: 5px solid #fff; }
        @media (max-width: 767px) {
          .header .menu a.active {
            border: 1px solid #fff;
            background: #fff;
            color: #aa0601; } }

.footer {
  padding: 32px 0 40px 0;
  background: #aa0601; }
  @media (max-width: 991px) {
    .footer {
      padding: 32px 0; } }
  @media (max-width: 767px) {
    .footer {
      padding: 24px 0; } }
  .footer .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 36px; }
    @media (max-width: 767px) {
      .footer .menu {
        display: none; } }
    .footer .menu li {
      margin-right: 48px; }
      @media (max-width: 991px) {
        .footer .menu li {
          margin-right: 40px; } }
    .footer .menu a {
      color: #fff;
      border-bottom: 3px solid transparent; }
      .footer .menu a:hover {
        border-bottom: 3px solid #fff; }
  .footer .contact li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px; }
    @media (max-width: 991px) {
      .footer .contact li {
        margin-bottom: 14px; } }
    @media (max-width: 767px) {
      .footer .contact li {
        margin-bottom: 7px; } }
  .footer .contact img {
    width: 36px;
    margin-right: 16px; }
    @media (max-width: 991px) {
      .footer .contact img {
        width: 24px;
        margin-right: 8px; } }
    @media (max-width: 767px) {
      .footer .contact img {
        width: 20px;
        margin-right: 5px; } }
  .footer .contact a {
    font-size: 36px;
    color: #fff; }
    .footer .contact a:hover {
      text-decoration: underline; }
    @media (max-width: 991px) {
      .footer .contact a {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .footer .contact a {
        font-size: 16px; } }
  .footer .community {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .community li {
      margin-right: 32px; }
      @media (max-width: 991px) {
        .footer .community li {
          margin-right: 24px; } }
    .footer .community a:hover {
      opacity: 0.7; }
    @media (max-width: 991px) {
      .footer .community img {
        width: 24px; } }
  .footer .clause {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
    margin-top: 32px; }
    @media (max-width: 767px) {
      .footer .clause {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 16px; } }
    @media (max-width: 767px) {
      .footer .clause p {
        margin-bottom: 8px; } }
    .footer .clause ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767px) {
        .footer .clause ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .footer .clause ul li {
        margin-right: 48px; }
        @media (max-width: 991px) {
          .footer .clause ul li {
            margin-right: 24px; } }
        @media (max-width: 767px) {
          .footer .clause ul li {
            margin-right: 0;
            margin-bottom: 8px; }
            .footer .clause ul li:nth-last-child(1) {
              margin-bottom: 0; } }
      .footer .clause ul a {
        color: #fff; }
        .footer .clause ul a:hover {
          text-decoration: underline; }

.container {
  max-width: 1140px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 375px; } }

.titleL {
  font-weight: bold;
  padding-left: 16px;
  margin-left: 15px;
  margin-bottom: 60px;
  border-left: 8px solid #9f1213; }
  @media (max-width: 991px) {
    .titleL {
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .titleL {
      font-size: 28px;
      padding-left: 8px;
      margin-bottom: 24px; } }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 96px; }
  @media (max-width: 991px) {
    .pagination {
      margin-top: 65px; } }
  @media (max-width: 767px) {
    .pagination {
      margin-top: 40px; } }
  .pagination a {
    display: block;
    color: #000;
    font-size: 18px;
    padding: 12px 16px;
    border: 1px solid #555555;
    margin-left: -0.7px; }
    @media (max-width: 767px) {
      .pagination a {
        font-size: 16px;
        padding: 12px 15px; } }
    .pagination a:hover {
      color: #fff;
      background: #000; }
    .pagination a.active {
      color: #fff;
      background: #000; }
  .pagination .buttonS {
    padding: 11px 12px; }

.sunglasses .pagination {
  display: none; }
  @media (max-width: 767px) {
    .sunglasses .pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.navbar {
  background: #650300;
  padding: 6px 0 6px 0; }
  @media (max-width: 991px) {
    .navbar {
      padding: 7px 0 7px 0; } }
  @media (max-width: 767px) {
    .navbar {
      padding: 16px 0 16px 0; } }
  .navbar li {
    margin-right: 48px; }
    @media (max-width: 991px) {
      .navbar li {
        margin-right: 32px; } }
    @media (max-width: 767px) {
      .navbar li {
        margin-right: 24px; } }
    .navbar li:nth-last-child(1) {
      margin-right: 0; }
    .navbar li a {
      color: #fff;
      font-size: 20px; }
      .navbar li a:hover {
        text-decoration: underline; }
      @media (max-width: 991px) {
        .navbar li a {
          font-size: 16px; } }
  .navbar .search {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer; }
    .navbar .search:hover {
      opacity: 0.7; }
    .navbar .search .icon {
      display: block;
      font-size: 40px; }
    @media (max-width: 767px) {
      .navbar .search {
        display: none; } }

.index section {
  padding: 60px 15px 80px 15px; }
  @media (max-width: 991px) {
    .index section {
      padding: 40px 0 56px 0; } }
  @media (max-width: 767px) {
    .index section {
      padding: 32px 0 40px 0; } }

.index h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    .index h2 {
      font-size: 32px;
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .index h2 {
      font-size: 24px;
      margin-bottom: 20px; } }

.index .banner {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png);
  height: calc(100vh - 108px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 768px) {
    .index .banner {
      background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png); } }
  @media (max-width: 767px) {
    .index .banner {
      height: 394px; } }
  .index .banner .title {
    font-size: 36px;
    color: #650300;
    text-align: right;
    margin-bottom: 0; }
    @media (max-width: 991px) {
      .index .banner .title {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .index .banner .title {
        font-size: 16px; } }
  .index .banner p {
    font-size: 64px;
    color: #650300;
    font-weight: bold; }
    @media (max-width: 991px) {
      .index .banner p {
        font-size: 48px; } }
    @media (max-width: 767px) {
      .index .banner p {
        font-size: 32px; } }

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .feature li {
    width: 25%;
    padding: 0 15px 0 15px; }
    @media (max-width: 991px) {
      .feature li {
        width: 50%;
        margin-bottom: 32px;
        padding: 0 52.5px 0 52.5px; } }
    @media (max-width: 767px) {
      .feature li {
        width: 100%;
        padding: 0 60px 0 60px; } }
  .feature .icon {
    display: block;
    text-align: center;
    font-size: 100px;
    color: #650300;
    margin-bottom: 16px; }
    @media (max-width: 991px) {
      .feature .icon {
        font-size: 66px; } }
    @media (max-width: 767px) {
      .feature .icon {
        font-size: 100px; } }

.classicSeries {
  color: #aa0601; }
  .classicSeries li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
    padding-left: 15px;
    padding-right: 15px; }
    .classicSeries li:nth-last-child(1) {
      margin-bottom: 0; }
    @media (max-width: 991px) {
      .classicSeries li {
        margin-bottom: 8px; } }
    @media (max-width: 767px) {
      .classicSeries li {
        position: relative; } }
  .classicSeries .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    @media (max-width: 991px) {
      .classicSeries .reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .classicSeries .reverse .icon {
      margin-left: 8px; }
      @media (max-width: 991px) {
        .classicSeries .reverse .icon {
          margin-right: 8px;
          margin-left: 30px; } }
    .classicSeries .reverse h3 {
      margin-right: 30px; }
      @media (max-width: 991px) {
        .classicSeries .reverse h3 {
          margin-right: 0; } }
  .classicSeries img {
    width: 57.207207%;
    height: auto; }
    @media (max-width: 991px) {
      .classicSeries img {
        width: 56.521739%; } }
    @media (max-width: 767px) {
      .classicSeries img {
        width: 100%; } }
  .classicSeries .classicSeriesContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .classicSeries .classicSeriesContent {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; } }
  .classicSeries .icon {
    font-size: 48px;
    margin-right: 8px;
    margin-left: 30px; }
    @media (max-width: 991px) {
      .classicSeries .icon {
        font-size: 40px; } }
    @media (max-width: 767px) {
      .classicSeries .icon {
        margin-left: 0; } }
  .classicSeries h3 {
    font-size: 48px;
    font-weight: 900;
    font-style: italic; }
    @media (max-width: 991px) {
      .classicSeries h3 {
        font-size: 28px; } }

.coBranding {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png");
  background-size: cover;
  background-position: center; }
  .coBranding li {
    width: 50%;
    position: relative;
    padding: 0 15px; }
    @media (max-width: 767px) {
      .coBranding li {
        width: 100%;
        margin-bottom: 16px; } }
  .coBranding .titleArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px; }
  .coBranding h3 {
    font-size: 72px;
    color: #aa0601;
    font-weight: bold; }
    @media (max-width: 991px) {
      .coBranding h3 {
        font-size: 32px; } }

.evaluationList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .evaluationList li {
    width: 25%;
    padding: 0 15px; }
    @media (max-width: 991px) {
      .evaluationList li {
        width: 50%;
        margin-top: 32px; }
        .evaluationList li:nth-child(-n+2) {
          margin-top: 0; } }
    @media (max-width: 767px) {
      .evaluationList li {
        width: 100%;
        margin-top: 16px; }
        .evaluationList li:nth-child(-n+2) {
          margin-top: 16px; }
        .evaluationList li:nth-child(1) {
          margin-top: 0; } }
  .evaluationList .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029; }
  .evaluationList .card-content {
    padding: 16px;
    color: #212529; }
  .evaluationList h3 {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 500; }
  .evaluationList p {
    margin-bottom: 36px; }
  .evaluationList .date {
    color: #707070;
    font-size: 14px;
    margin-bottom: 0;
    padding: 16px; }

.contactUsArea .container {
  max-width: 730px; }
  @media (max-width: 991px) {
    .contactUsArea .container {
      max-width: 450px; } }
  @media (max-width: 767px) {
    .contactUsArea .container {
      max-width: 345px; } }

.contactUsArea h2 {
  margin-bottom: 24px; }
  @media (max-width: 767px) {
    .contactUsArea h2 {
      margin-bottom: 20px; } }

.contactUsArea p {
  font-size: 20px;
  margin-bottom: 20px; }
  @media (max-width: 991px) {
    .contactUsArea p {
      font-size: 16px;
      margin-bottom: 16px; } }
  @media (max-width: 767px) {
    .contactUsArea p {
      margin-bottom: 8px; } }

.contactUsArea .fromGroup {
  margin-bottom: 16px; }
  @media (max-width: 991px) {
    .contactUsArea .fromGroup {
      margin-bottom: 8px; } }
  @media (max-width: 991px) {
    .contactUsArea .fromGroup label {
      font-size: 14px; } }
  .contactUsArea .fromGroup input {
    width: 100%;
    height: 50px;
    background: none;
    font-size: 16px;
    padding: 0 16px;
    border: 1px solid #000; }
    @media (max-width: 991px) {
      .contactUsArea .fromGroup input {
        height: 36px;
        font-size: 14px;
        padding: 0 12px; } }
  .contactUsArea .fromGroup textarea {
    width: 100%;
    height: 136px;
    resize: none;
    background: none;
    font-size: 16px;
    padding: 12px 16px; }
    @media (max-width: 991px) {
      .contactUsArea .fromGroup textarea {
        font-size: 14px;
        padding: 8px 12px; } }

.contactUsArea .checkboxArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    .contactUsArea .checkboxArea {
      margin-bottom: 20px;
      font-size: 14px; } }
  .contactUsArea .checkboxArea label, .contactUsArea .checkboxArea input {
    cursor: pointer; }

.contactUsArea input[type="submit"] {
  width: 340px;
  height: 54px;
  background: #aa0601;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none; }
  @media (max-width: 991px) {
    .contactUsArea input[type="submit"] {
      width: 210px;
      height: 40px;
      font-size: 14px; } }
  @media (max-width: 767px) {
    .contactUsArea input[type="submit"] {
      width: 165px;
      height: 36px; } }
  .contactUsArea input[type="submit"]:hover {
    opacity: 0.8; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 370px;
    padding-top: 24px;
    padding-bottom: 16px;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 8px solid transparent;
    color: #000; }
    @media (max-width: 991px) {
      .nav a {
        width: 230px;
        padding-top: 14px;
        padding-bottom: 6px; } }
    @media (max-width: 767px) {
      .nav a {
        width: 115px;
        padding-top: 6px;
        padding-bottom: 1px;
        border-bottom: 4px solid transparent; } }
    .nav a .icon {
      font-size: 48px;
      margin-right: 8px; }
      @media (max-width: 991px) {
        .nav a .icon {
          font-size: 32px; } }
      @media (max-width: 767px) {
        .nav a .icon {
          font-size: 16px;
          margin-right: 2px; } }
    .nav a p {
      font-size: 32px;
      font-weight: 500; }
      @media (max-width: 991px) {
        .nav a p {
          font-size: 24px; } }
      @media (max-width: 767px) {
        .nav a p {
          font-size: 14px; } }
    .nav a:hover {
      border-bottom: 8px solid #aa0601; }
      @media (max-width: 767px) {
        .nav a:hover {
          border-bottom: 4px solid #aa0601; } }
    .nav a.active {
      border-bottom: 8px solid #aa0601; }
      @media (max-width: 767px) {
        .nav a.active {
          border-bottom: 4px solid #aa0601; } }

.hide {
  display: none; }

.show {
  display: block;
  -webkit-animation: show 0.5s;
          animation: show 0.5s; }

@-webkit-keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.products .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px; }
  @media (max-width: 991px) {
    .products .banner {
      margin-bottom: 56px; } }
  @media (max-width: 767px) {
    .products .banner {
      margin-bottom: 32px; } }
  .products .banner div {
    width: 50%;
    height: 304px;
    background-size: cover; }
    @media (max-width: 767px) {
      .products .banner div {
        height: 148px; } }
  .products .banner .opticalBanner.leftBanner {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week4/banner-1.png");
    background-position: center; }
    @media (max-width: 991px) {
      .products .banner .opticalBanner.leftBanner {
        background-image: url("https://i.imgur.com/rC9iw7K.jpg");
        background-position: 50% 70%; } }
  .products .banner .opticalBanner.rightBanner {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week4/banner-2.png");
    background-position: center; }
    @media (max-width: 991px) {
      .products .banner .opticalBanner.rightBanner {
        background-image: url("https://i.imgur.com/Ok9TnDl.jpg"); } }
  .products .banner .sunglassesBanner.leftBanner {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-3.png");
    background-position: center; }
    @media (max-width: 991px) {
      .products .banner .sunglassesBanner.leftBanner {
        background-position: 50% 70%; } }
  .products .banner .sunglassesBanner.rightBanner {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-2-color.png");
    background-position: center; }
    @media (max-width: 991px) {
      .products .banner .sunglassesBanner.rightBanner {
        background-position: 35% 50%; } }

.productsPages h2 {
  font-size: 42px;
  font-weight: 500;
  text-align: center; }
  @media (max-width: 991px) {
    .productsPages h2 {
      font-size: 32px; } }
  @media (max-width: 767px) {
    .productsPages h2 {
      font-size: 20px; } }

.productsPages h3 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    .productsPages h3 {
      font-size: 24px;
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .productsPages h3 {
      font-size: 16px;
      margin-bottom: 20px; } }

.productList {
  padding-bottom: 160px; }
  @media (max-width: 991px) {
    .productList {
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .productList {
      padding-bottom: 56px; } }
  .productList .imageArea {
    width: 100%; }
  .productList img {
    width: 100%; }
  .productList h4, .productList .price {
    font-size: 24px;
    color: #000; }
    @media (max-width: 767px) {
      .productList h4, .productList .price {
        font-size: 16px; } }
  .productList .price {
    color: #aa0601;
    font-weight: 500; }
  .productList .productColor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .productList .productColor div {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-right: 8px; }
      .productList .productColor div:nth-last-child(1) {
        margin-right: 0; }
      @media (max-width: 767px) {
        .productList .productColor div {
          margin-right: 4px; } }
    .productList .productColor .darkBrown {
      background: #5f3e2d; }
    .productList .productColor .lightBrown {
      background: #b75929; }

.optical li {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 104px; }
  .optical li:nth-child(-n+4) {
    margin-top: 0; }
  @media (max-width: 991px) {
    .optical li {
      width: 50%;
      margin-top: 72px; }
      .optical li:nth-child(-n+4) {
        margin-top: 72px; }
      .optical li:nth-child(-n+2) {
        margin-top: 0; } }
  @media (max-width: 767px) {
    .optical li {
      width: 100%;
      margin-top: 32px; }
      .optical li:nth-child(-n+4) {
        margin-top: 32px; }
      .optical li:nth-child(1) {
        margin-top: 0; } }

.sunglasses li {
  width: 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 104px; }
  .sunglasses li:nth-child(-n+3) {
    margin-top: 0; }
  @media (max-width: 991px) {
    .sunglasses li {
      width: 50%;
      margin-top: 72px; }
      .sunglasses li:nth-child(-n+3) {
        margin-top: 72px; }
      .sunglasses li:nth-child(-n+2) {
        margin-top: 0; } }
  @media (max-width: 767px) {
    .sunglasses li {
      width: 100%;
      margin-top: 32px; }
      .sunglasses li:nth-child(-n+3) {
        margin-top: 32px; }
      .sunglasses li:nth-child(1) {
        margin-top: 0; } }

.location {
  padding: 96px 0 160px 0; }
  @media (max-width: 991px) {
    .location {
      padding: 60px 0 96px 0; } }
  @media (max-width: 767px) {
    .location {
      padding: 28px 0 56px 0; } }
  .location label {
    margin-left: 15px;
    font-size: 24px; }
    @media (max-width: 991px) {
      .location label {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .location label {
        font-size: 14px;
        margin-left: 12px; } }
  .location select {
    color: #495057;
    font-size: 18px;
    width: 324px;
    height: 45px;
    padding: 0 19px 0 19px;
    margin-left: 20px; }
    @media (max-width: 991px) {
      .location select {
        width: 237px;
        height: 46px;
        font-size: 16px;
        padding: 0 16px 0 16px; } }
    @media (max-width: 767px) {
      .location select {
        width: 277px;
        height: 36px;
        font-size: 14px;
        margin-left: 12px; } }

.locationList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 32px; }
  @media (max-width: 991px) {
    .locationList {
      margin-top: 24px; } }
  @media (max-width: 767px) {
    .locationList {
      margin-top: 20px; } }
  .locationList > li {
    width: 33.33333%;
    margin-top: 32px; }
    .locationList > li:nth-child(-n+3) {
      margin-top: 0; }
    @media (max-width: 991px) {
      .locationList > li {
        width: 50%;
        margin-top: 20px; }
        .locationList > li:nth-child(-n+3) {
          margin-top: 20px; }
        .locationList > li:nth-child(-n+2) {
          margin-top: 0; } }
    @media (max-width: 767px) {
      .locationList > li {
        width: 100%;
        margin-top: 16px; }
        .locationList > li:nth-child(-n+3) {
          margin-top: 16px; }
        .locationList > li:nth-child(1) {
          margin-top: 0; } }

.location .card {
  padding-left: 15px;
  padding-right: 15px; }
  .location .card h3 {
    font-size: 24px;
    padding: 12px 24px;
    border: 1px solid #00000020; }
    @media (max-width: 991px) {
      .location .card h3 {
        font-size: 16px;
        font-weight: bold; } }
  .location .card .contact {
    padding: 16px 24px;
    border: 1px solid #00000020; }
    .location .card .contact li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 8px; }
      .location .card .contact li:nth-last-child(1) {
        margin-bottom: 0; }
    .location .card .contact .icon {
      font-size: 24px;
      margin-right: 8px; }
      @media (max-width: 991px) {
        .location .card .contact .icon {
          font-size: 20px; } }
    .location .card .contact p {
      font-size: 20px; }
      @media (max-width: 991px) {
        .location .card .contact p {
          font-size: 14px; } }

.detailedBtn {
  display: block;
  width: 100%;
  height: 67px;
  line-height: 67px;
  text-align: center;
  font-size: 19px;
  background: #000;
  color: #fff;
  border: none; }
  .detailedBtn:hover {
    opacity: 0.8; }
  @media (max-width: 991px) {
    .detailedBtn {
      height: 52px;
      line-height: 52px;
      font-size: 14px; } }

.locationInfoContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px; }

.locationInfo .card {
  width: 41.66667%; }
  @media (max-width: 991px) {
    .locationInfo .card {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 767px) {
    .locationInfo .card {
      display: block;
      margin-bottom: 16px; } }
  @media (max-width: 991px) {
    .locationInfo .card .imageArea {
      padding-left: 15px;
      padding-right: 15px;
      width: 50%;
      height: 164px;
      overflow: hidden;
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .locationInfo .card .imageArea {
      width: 100%;
      margin-bottom: 0; } }
  @media (max-width: 991px) {
    .locationInfo .card .cardContent {
      width: 50%;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 767px) {
    .locationInfo .card .cardContent {
      width: 100%; } }

.mapArea {
  padding: 0 15px 0 15px;
  width: 58.33333%; }
  @media (max-width: 991px) {
    .mapArea {
      width: 100%;
      height: 422px; } }
  @media (max-width: 767px) {
    .mapArea {
      height: 211px; } }
  .mapArea iframe {
    width: 100%;
    height: 100%; }

.faq {
  padding: 96px 0 160px 0; }
  @media (max-width: 991px) {
    .faq {
      padding: 60px 0 96px 0; } }
  @media (max-width: 767px) {
    .faq {
      padding: 28px 0 56px 0; } }
  .faq h2 {
    margin-left: 0; }
  .faq h3 {
    font-weight: bold;
    margin-bottom: 36px; }
    @media (max-width: 991px) {
      .faq h3 {
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .faq h3 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 24px; } }

.faqList li {
  margin-bottom: 32px; }
  @media (max-width: 991px) {
    .faqList li {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .faqList li {
      margin-bottom: 20px; } }

.faqList h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px; }
  @media (max-width: 767px) {
    .faqList h4 {
      font-size: 16px;
      margin-bottom: 8px; } }

.faqList p {
  padding-left: 95px; }
  @media (max-width: 991px) {
    .faqList p {
      padding-left: 59px; } }
  @media (max-width: 767px) {
    .faqList p {
      font-size: 14px;
      padding-left: 0; } }

.blogsArea {
  padding: 40px 0 160px 0; }
  @media (max-width: 991px) {
    .blogsArea {
      padding: 32px 0 96px 0; } }
  @media (max-width: 767px) {
    .blogsArea {
      padding: 28px 0 56px 0; } }

.blogsList .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #000;
  margin-bottom: 60px; }
  @media (max-width: 991px) {
    .blogsList .card {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .blogsList .card {
      margin-bottom: 20px; } }
  .blogsList .card:hover .cardContentArea {
    opacity: 0.7; }

.blogsList .imageArea {
  width: 58.33333%;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 991px) {
    .blogsList .imageArea {
      width: 50%; } }
  @media (max-width: 767px) {
    .blogsList .imageArea {
      width: 100%; } }

.blogsList img {
  width: 100%; }

.blogsList .cardContentArea {
  width: 41.6667%;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media (max-width: 991px) {
    .blogsList .cardContentArea {
      width: 50%; } }
  @media (max-width: 767px) {
    .blogsList .cardContentArea {
      width: 100%; } }

.blogsList h3 {
  font-size: 32px;
  color: #650300; }
  @media (max-width: 991px) {
    .blogsList h3 {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .blogsList h3 {
      font-size: 16px; } }

.blogsList .englishTitle {
  color: #000;
  font-size: 20px;
  font-weight: 500; }
  @media (max-width: 991px) {
    .blogsList .englishTitle {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .blogsList .englishTitle {
      font-size: 14px; } }

@media (max-width: 991px) {
  .blogsList .ceadHarder p {
    font-size: 14px; } }

.blogsList .contentL {
  margin-top: 24px; }
  @media (max-width: 991px) {
    .blogsList .contentL {
      display: none; } }
  .blogsList .contentL p {
    font-size: 20px; }
    @media (max-width: 991px) {
      .blogsList .contentL p {
        font-size: 14px; } }

.blogsList .contentS {
  display: none; }
  @media (max-width: 991px) {
    .blogsList .contentS {
      display: block;
      margin-top: 32px; } }
  @media (max-width: 767px) {
    .blogsList .contentS {
      display: none; } }
  .blogsList .contentS p {
    font-size: 14px; }
  .blogsList .contentS .moreS {
    font-weight: bold;
    color: #555555;
    margin-top: 14px; }

.blogsList .cardFooter {
  background: none;
  border: none;
  font-size: 36px;
  font-weight: 900;
  color: #650300;
  margin-top: 14px; }
  @media (max-width: 991px) {
    .blogsList .cardFooter {
      display: none; } }

.blogArea {
  padding: 8px 0 160px 0; }
  @media (max-width: 991px) {
    .blogArea {
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .blogArea {
      padding-bottom: 56px; } }
  .blogArea .breadcrumb {
    margin-bottom: 8px; }
    .blogArea .breadcrumb a {
      color: #000; }
    .blogArea .breadcrumb .current {
      color: #aa0601; }
    @media (max-width: 991px) {
      .blogArea .breadcrumb {
        font-size: 14px; } }
  .blogArea .tagArea a {
    font-size: 24px;
    font-weight: bold;
    color: #aa0601;
    margin-right: 16px; }
    .blogArea .tagArea a:nth-last-child(1) {
      margin-right: 0; }
    @media (max-width: 991px) {
      .blogArea .tagArea a {
        font-size: 16px;
        margin-right: 8px; } }
    @media (max-width: 767px) {
      .blogArea .tagArea a {
        font-size: 14px;
        margin-right: 4px; } }

.blogPost {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 767px) {
    .blogPost {
      width: 100%; } }

.blogHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 24px; }
  @media (max-width: 767px) {
    .blogHeader {
      margin-bottom: 20px; } }
  .blogHeader h2 {
    margin-bottom: 8px; }
    @media (max-width: 991px) {
      .blogHeader h2 {
        font-size: 32px;
        margin-bottom: 4px; } }
    @media (max-width: 767px) {
      .blogHeader h2 {
        font-size: 20px;
        color: #650300;
        margin-bottom: 0; } }
  .blogHeader .englishTitle {
    color: #000;
    font-size: 28px;
    font-weight: 500; }
    @media (max-width: 991px) {
      .blogHeader .englishTitle {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .blogHeader .englishTitle {
        font-size: 14px; } }
    .blogHeader .englishTitle .blogDate {
      color: #6c6c6c; }
      @media (max-width: 991px) {
        .blogHeader .englishTitle .blogDate {
          font-size: 14px; } }

.blogBody {
  margin-bottom: 49px; }
  @media (max-width: 991px) {
    .blogBody {
      margin-bottom: 29px; } }
  @media (max-width: 767px) {
    .blogBody {
      margin-bottom: 20px; } }
  .blogBody img {
    margin-bottom: 24px; }
    @media (max-width: 991px) {
      .blogBody img {
        margin-bottom: 16px; } }
  .blogBody p {
    font-size: 20px;
    color: #0a0a0a;
    opacity: 0.6;
    margin-bottom: 40px; }
    .blogBody p:nth-last-child(1) {
      margin-bottom: 0; }
    @media (max-width: 991px) {
      .blogBody p {
        font-size: 16px;
        margin-bottom: 24px; } }

@media (max-width: 767px) {
  .blogFooter {
    margin-bottom: 30px; } }

.blogFooter .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px; }
  .blogFooter .share p {
    margin-right: 20px;
    font-weight: bold; }
    @media (max-width: 991px) {
      .blogFooter .share p {
        margin-right: 16px; } }
  .blogFooter .share a {
    margin-right: 16px; }
    .blogFooter .share a:nth-last-child(1) {
      margin-right: 0; }
    .blogFooter .share a:hover {
      opacity: 0.7; }
    @media (max-width: 991px) {
      .blogFooter .share a {
        width: 20px;
        height: 20px; } }

.blogFooter hr {
  height: 2px;
  background: #555555;
  opacity: 0.6; }

.blogFooter .changePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px; }
  @media (max-width: 991px) {
    .blogFooter .changePage {
      margin-top: 16px; } }
  @media (max-width: 767px) {
    .blogFooter .changePage {
      display: block; } }
  .blogFooter .changePage a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000; }
  .blogFooter .changePage .icon {
    font-size: 24px; }
  .blogFooter .changePage p {
    font-size: 19px; }
    @media (max-width: 991px) {
      .blogFooter .changePage p {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .blogFooter .changePage p {
        font-size: 14px; } }

.blogFooter .previousPage .icon {
  margin-right: 8px; }
  @media (max-width: 991px) {
    .blogFooter .previousPage .icon {
      margin-right: 4px; } }

.blogFooter .nextPage {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 767px) {
    .blogFooter .nextPage {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .blogFooter .nextPage .icon {
    margin-left: 8px; }
    @media (max-width: 991px) {
      .blogFooter .nextPage .icon {
        margin-left: 4px; } }
    @media (max-width: 991px) {
      .blogFooter .nextPage .icon {
        margin-left: 0;
        margin-right: 4px; } }

.tags {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 767px) {
    .tags {
      width: 100%; } }
  .tags h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: #aa0601;
    margin-bottom: 4px; }
    @media (max-width: 991px) {
      .tags h3 {
        font-size: 20px; } }
    .tags h3 span {
      font-size: 48px;
      margin-right: 8px; }
      @media (max-width: 991px) {
        .tags h3 span {
          font-size: 24px;
          margin-right: 0; } }
  .tags .tagArea a {
    margin-right: 24px; }
    .tags .tagArea a:nth-last-child(1) {
      margin-right: 24px; }
    @media (max-width: 991px) {
      .tags .tagArea a {
        margin-right: 16px; } }

/*# sourceMappingURL=all.css.map */
